body {
	font-family: sans-serif;
	color: white;
	background: rgb(101, 23, 88);
	background: linear-gradient(
		90deg,
		rgba(101, 23, 88, 1) 0%,
		rgba(49, 21, 98, 1) 50%,
		rgba(27, 24, 52, 1) 100%
	);
}

h1 {
	font-size: 18px;
	color: #ff1675;
}

h2 {
	font-size: 48px;
}

a {
	background-color: #ff1675;
	color: white;
	padding: 15px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
}
